<a href="https://colab.research.google.com/github/Greta-gerasimov/Project_libraries/blob/HW3/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [3]:
housing = fetch_california_housing()
Data = housing.data
target_ = housing.target
feature_names = housing.feature_names

In [4]:
X = pd.DataFrame(Data, columns = feature_names)
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:

y = pd.DataFrame(target_, columns = ['price'])
y.head()

   price
0  4.526
1  3.585
2  3.521
3  3.413
4  3.422

In [6]:
 
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.ensemble import RandomForestRegressor
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.30,random_state=42)
clf = RandomForestRegressor(max_depth=12, max_features=6, n_estimators=1000)
clf.fit(X_train,  y_train.values[:, 0])

In [16]:
y_pred = clf.predict(X_valid)
print(y_pred)

[0.53122184 0.82958437 4.83606559 ... 2.11932054 1.45028231 2.07518508]

In [18]:
from sklearn.metrics import r2_score
r2_score(y_valid,y_pred)

0.795421402322568

почему-то в model RF более достоверные предсказания, не смотря на то, что глубина довольно глубокая. не могу пока понять, почему